<!DOCTYPE html>
<html lang='en' ng-app='myApp'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User Dashboard</title>
	<script type="text/javascript" src='static/js/jquery.min.js'></script>
	<script type="text/javascript" src='static/js/highcharts.js'></script>
	<script type="text/javascript" src='static/js/exporting.js'></script>
	<script type="text/javascript" src='static/js/angular.min.js'></script>
	<script type="text/javascript" src='static/js/bootstrap.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-svg-round-progressbar/0.4.4/roundProgress.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="static/css/nav.css" media="screen">
	<link rel="stylesheet" href="static/css/main.css" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src='static/js/main.js'></script>
	<script type="text/javascript" src='static/js/summary.js'></script>

</script>
</head>
<body ng-controller='mainCon'>
	<div class="container">
		<!-- side nav bar -->
		<nav class="navbar-primary" >
	    <a class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span></a>
	    <ul class="navbar-primary-menu">
	      <li>
	        <a id='profile'><span class="glyphicon glyphicon-user"></span><span class="nav-label">Profile</span></a>
	        <a ng-click='toggleDays()'><span class="glyphicon glyphicon-plus" ng-if='!days'></span><span class="glyphicon glyphicon-minus" ng-if='days'></span><span class="nav-label">Everyday Data</span></a>
	        <a  ng-click='change(one)' ng-show='days'><img src="static/images/calendar.png" class="glyphicon img-responsive"><span class="nav-label"> Day One</span></a>
	        <a ng-click='change(two)' ng-show='days'><img src="static/images/calendar.png" class="glyphicon img-responsive"></span><span class="nav-label"> Day Two</span></a>
	        <a ng-click='change(three)' ng-show='days'><img src="static/images/calendar.png" class="glyphicon img-responsive"><span class="nav-label"> Day Three</span></a>
	        <a ng-show='days'><span class="glyphicon glyphicon-option-horizontal"></span><span class="nav-label">More</span></a>
	      </li>
	    </ul>
	  </nav>
		<!-- finsih side nav bar -->
		<!-- dashboard -->

<h1 class="col-sm-2"> Day <img src="static/images/{{info.day}}.png"></h1>
 <div class="col-sm-12" id="details">
	 
    <div class="col-sm-4">
      <div class="detail_header">
        Weight
        <span class="glyphicon glyphicon-cog"></span>
      </div>
      <div class="detail_status" style="background-color:#454545">
	      <div class="finished_word">
					<div id="weight">
						<p>Weight:  <span>{{info.weight}}</span>  ( lb )</p>
					</div>
      	
	      </div>

         
        </div>

      <div class="detail_footer" style="background-color:#202020;">
        <span class = "action_footer_left">review <a class = "footer glyphicon glyphicon-circle-arrow-right" href=""></a></span>
        <span class = "action_footer_right">email <a class = "footer glyphicon glyphicon-envelope" href=""></a></span>
      </div>

    </div>

    <!-- Calories In -->
    <div class="col-sm-4">
      <div class="detail_header">
      	Calories In
        <span class="glyphicon glyphicon-cog"></span>
      </div>
      <div class="detail_status" style="background-color:#00adf2">
        <div class="finished_word">
          <p><span ng-bind='info.in'></span> calories <br>are token in!</p>

        </div>
      </div>
      <div class="detail_footer" style = "background-color:#009CDB;">
        <span class = "action_footer_left">review  <a class = "footer glyphicon glyphicon-circle-arrow-right" href=""></a></span>
        <span class = "action_footer_right">email <a class = "footer glyphicon glyphicon-envelope" href=""></a></span>
      </div>


    </div>

    <div class="col-sm-4" >
      <div class="detail_header">
        Calories Out
        <span class="glyphicon glyphicon-cog"></span>
      </div>
      <div class="detail_status" style="background-color:#2b8148">

         <div class="finished_word">
          <p >Burned <span ng-bind='info.out'></span></p>
          <h2>Calories !!</h2>
          
        	</div>

        </div>
 

      <div class="detail_footer" style = "background-color:#297742;">
         <span class = "action_footer_left">review  <a class = "footer glyphicon glyphicon-circle-arrow-right" href=""></a></span>
        <span class = "action_footer_right">email <a class = "footer glyphicon glyphicon-envelope" href=""></a></span>
      </div>

    </div>
    <!-- a -->
    <div class="col-sm-4">
      <div class="detail_header">
        A
        <span class="glyphicon glyphicon-cog"></span>
      </div>
      <div class="detail_status" style="background-color:#005daa">
        <div id="a">
          <p>Accomplished:  <span>{{info.a}}</span><p ng-if='info.a >0.5'> Cool!</p><br ng-if='info.a <=0.5'></p>
        </div>
        
        	
        
	        <div class="progress-wrapper col-sm-8 col-sm-offset-2 ">

	            <div class="circles"
	            round-progress
	            max=100
	            current= info.a*100
	            color="white"
	            bgcolor="#66ccff"
	            radius= 80
	            stroke= 15
	            semi="false"
	            rounded="true"
	            clockwise="true"
	            duration="800"
	            animation="easeInOutQuart"
	            animation-delay="0"
	            responsive='true'

	            >
          </div>

          <div class="text" ng-if='info.a<1'>{{info.a * 100}} %</div>
          <div class="text" ng-if='info.a >= 1'><span class="glyphicon glyphicon-ok"></span></div>
        </div>
      </div>
      <div class="detail_footer" style = "background-color:#045297;">
         <span class = "action_footer_left">review    <a class = "footer glyphicon glyphicon-circle-arrow-right" href=""></a></span>
        <span class = "action_footer_right">email <a class = "footer glyphicon glyphicon-envelope" href=""></a></span>
      </div>
    </div>

    <!-- B -->
    <div class="col-sm-4">
      <div class="detail_header">
        B
        <span class="glyphicon glyphicon-cog"></span>
      </div>
      <div class="detail_status" style="background-color:#f04a8a">
        <div id="b">
          <p><span>{{(info.b)}}</span> Finished <p ng-if='info.b >0.5'> Good Job!</p><br ng-if='info.b <=0.5'></p>
        </div>
          <div class="progress-wrapper col-sm-8 col-sm-offset-2">

            <div class="circles"
            round-progress
            max=100
            current= info.b*100
            color="white"
            bgcolor="#66ccff"
            radius= 80
            stroke= 15
            semi="false"
            rounded="true"
            clockwise="true"
            duration="800"
            animation="easeInOutQuart"
            animation-delay="0"
            responsive='true'

            >

            </div>
          <div class="text">{{(info.b)*100}} %</div>
        </div>

      </div>
      <div class="detail_footer" style="background-color: #D34679;">
        <span class = "action_footer_left">review    <a class = "footer glyphicon glyphicon-circle-arrow-right" href=""></a></span>
        <span class = "action_footer_right">email  <a class = "footer glyphicon glyphicon-envelope" href=""></a></span>
      </div>
    </div>
    <!-- C -->
    <div class="col-sm-4">
      <div class="detail_header text-center">
        C
        <span class="glyphicon glyphicon-cog"></span>
      </div>
      <div class="detail_status" style="background-color:orange">
        <div id="c">
          <p>Completed: <span ng-bind='info.c'></span><p ng-if='info.c >0.5'> Nicely Done!</p><br ng-if='info.c <=0.5'></p>
        </div>
        <div class="progress-wrapper col-sm-8 col-sm-offset-2">

            <div class="circles"
            round-progress
            max=100
            current= info.c*100
            color="white"
            bgcolor="#66ccff"
            radius= 80
            stroke= 15
            semi="false"
            rounded="true"
            clockwise="true"
            duration="800"
            animation="easeInOutQuart"
            animation-delay="0"
            responsive='true'

            >

            </div>
          <div class="text">{{(info.c)*100}} % </div>
        </div>
      </div>
      <div class="detail_footer" style = "background-color:darkorange;">
        <span class = "action_footer_left">review  <a class = "footer glyphicon glyphicon-circle-arrow-right" href=""></a></span>
        <span class = "action_footer_right">email <a class = "footer glyphicon glyphicon-envelope" href=""></a></span>
      </div>
    </div>
  </div>

  <!-- summary -->

		<div class="col-sm-12 col-sm-offset-1" >
			<div class="col-sm-6" id='abc'>
				
			</div>
			<div class="col-sm-6" id='calories'>
				
			</div>
		</div>
	</div>


	<script type="text/javascript">
		$(document).ready(function(){

		  $('.btn-expand-collapse').click(function(e) {
		        $('.navbar-primary').toggleClass('collapsed');
		       
			});
		});
	</script>
	<footer class="col-sm-6 col-sm-offset-3 text-center">
    Copyright © 2016 Chongchong Wang.
    <br>
    <span>Full Stack Development | Javascript | Python | PHP | SQL</span>
  </footer>
</body>
</html>