
#details{
  margin:6% 12%;
}
#details >div{
  /*background-color: blue;*/
  margin-bottom: 4%;
}





.progress-wrapper {
  position: relative;
}
.progress-wrapper .circles{

  text-align: center;
  width: 100%;
  top:0px;

}
.progress-wrapper .text{
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
  color: white;
  font-weight: bolder;
  width: 100%;
  z-index: 1;
}

.detail_header {
    background-color:#c0c5ce;
    color:#0d1321;
    text-align:center;
    padding: 5px;
    font-style: italic;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    box-shadow: 5px 5px 5px #888888;
    font-size: 1.8em;
}

.detail_header span{
    
    color:gray;
    float:right;
}
.detail_status {
  height:20vmax;
}
.detail_footer {
  background-color: lightgray;
  color: white;
  border-radius:0 0 10px 10px;
  padding: 3px;
  box-shadow: 5px 5px 5px #888888;
}
.action_footer_left{
  color: white;
  clear: right;
  padding-left: 3px;
}
.action_footer_right{
  color: white;
  float: right;
  padding-right: 3px;
}
a.footer{
  color: white;
}
a.footer:hover{
  color: gold;
}
.detail_status{
  box-shadow: 5px 5px 5px #888888;
}

#weight{
  padding-top: 12%;
  color: lightgray;
  font-size: 1.1em;
  text-align: center;
}

#a,#b,#c{
  color: white;
  font-size: 1.8em;
  text-align: center;
  font-weight: lighter;
  padding-top: 3%;
}
#a span,#b span, #c span{
  font-size: 2.1em;
  font-weight: lighter;
  border-bottom:0.5px solid white; 
}


.finished_word {
  color: white;
  font-size: 2.2em;
  font-weight: bold;
  text-align: center;
  padding-top: 8%;

}
.finished_word span {
  font-size: 3.1em;
  font-weight: lighter;
  text-align: center;
}








